altgraph==0.17.5
certifi==2025.10.5
charset-normalizer==3.4.4
docopt==0.6.2
icalendar==6.3.1
idna==3.11
macholib==1.16.4
Nuitka==2.7.11
ordered-set==4.1.0
packaging==25.0
patchelf==0.17.2.4
pefile==2024.8.26
pipreqs==0.4.13
pyinstaller-hooks-contrib==2025.11
python-dateutil==2.9.0.post0
requests==2.32.5
setuptools==80.9.0
shiboken6==6.10.1
six==1.17.0
tzdata==2025.2
urllib3==2.5.0
yarg==0.1.10
zstandard==0.25.0
